.myBackground {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: radial-gradient(circle at 5.59% 24.36%, #99e7ff 0, #3cb5f2 50%, #0085ce 100%);}

.temperature {
    font-size: 100px;
    padding-top: 10px;
    text-align: center;
    color: aliceblue;
}

.title {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 20px;
    color: aliceblue;
    font-size: 60px;
}

.description {
    text-align: center;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 1px;
    color: aliceblue;
}

.TempMaxMin {
    text-align: center;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 1px;
    color: aliceblue;
}